
* {
  margin: 0;
  padding: 0;
  font-family: 'Consolas', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(white, 0.99);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 70px;
}

main {
  max-width: 800px;
  margin: 100px auto;
  ul, ol, p, div {
    margin-top: 1rem;
  }
}

#Links {
  display: flex;
  a {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    padding-right: 0.5rem;
    border-right: 1px lightgray solid;
    color: #0E6DFE;
    text-decoration: none;
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
